<form action="/create-post" class="create-post" method="POST">

    <input type="text" placeholder="Title" name="title" class="post-title">
    <textarea placeholder="What do you want to share?" name="body" cols="50" rows="10" class="post-text"></textarea>
    <input type="submit" value="Publish" class="publish-post-btn">

</form>