<div class="posts">
    <ul class="admin-posts">
        <% data.forEach(post => { %>

            <li>
                <a href="/admin-post/<%= post._id %>" >
                    <span class="admin-post-title"> <%= post.title %> &nearr; </span>
                </a>
            </li>

        <% }) %>
    </ul>
</div>