<div class="posts">
    <ul class="admin-posts">
        <% data.forEach(post => { %>

            <li>
                <a href="/admin-post/<%= post._id %>">
                <%= post.title %> &nearr;
                </a>
            </li>

        <% }) %>
    </ul>
</div>