<div class="login">

    <h3 class="login-title">Sign In</h3>
    <form action="/login" method="POST">

            <label for="username" class="login-box-title bottom"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" class="login-box">

            <label for="password" class="login-box-title top"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" class="login-box">

            <div class="btn-box">
                <input type="submit" value="Login" class="btn login-btn">
            </div>

    </form>


    <h3 class="register-title">Register</h3>
    <form action="/register" method="POST">

            <label for="username" class="login-box-title bottom"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" class="login-box">

            <label for="password" class="login-box-title top"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" class="login-box">

            <div class="btn-box register">
                <input type="submit" value="Register" class="btn register-btn">
            </div>

    </form>

</div>