<div class="searchBar">
    <div class="container">
        <form action="/search" class="search-form" role="search" method="POST">

            <input
                type="search"
                aria-label="Search"
                id="searchInput"
                name="searchTerm"
                placeholder="What are you looking for?">

        </form>

        <div id="searchClose">Close</div>
    </div>
</div>