<div class="about">

        <h1 class="about-title">About Me</h1>

        <p class="about-body">
            Hi, fellow traveller!<br>
            My name is Rita.<br>
            I'm a simple girl from Portugal and I'm so excited that you're here!<br>
            I hope you like my blog and that I'll see you around more often.<br>
            Now, sit back, relax and keep exploring at your own will.<br>
            Thank you for being here and for all your support.<br>
            <br>
            Sending light, peace and love your way,<br>
            Rita<br>
        </p>

</div>