<div class="contact">

    <div class="contact-text">
        <h1 class="contact-title"> Want to reach out to me? </h1>
        <p class="contact-subtitle"> Find me here: </p>
    </div>

    <div class="contact-icons-wrapper">
        <ul class="contact-icons">
            <li>
                <a href="tel:+351910000000" class="mobile">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                        viewBox="0 0 500 500"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                        <style type="text/css">
                            .str0 {stroke:black;stroke-width:2}
                            .str1 {stroke:#202020;stroke-width:2}
                            .fil1 {fill:#303030}
                            .fil9 {fill:#6FAE00}
                            .fil7 {fill:#707070}
                            .fil8 {fill:#D1ECFF}
                            .fil10 {fill:#ED2F00}
                            .fil5 {fill:url(#id0)}
                            .fil4 {fill:url(#id1)}
                            .fil3 {fill:url(#id2)}
                            .fil0 {fill:url(#id3)}
                            .fil12 {fill:url(#id4)}
                            .fil11 {fill:url(#id5)}
                            .fil2 {fill:url(#id6)}
                            .fil6 {fill:url(#id7)}
                        </style>
                        <linearGradient id="id0" gradientUnits="userSpaceOnUse" x1="252.5" y1="425.001" x2="252.5" y2="464.999">
                        <stop offset="0" style="stop-color:#2B2A29"/>
                        <stop offset="1" style="stop-color:#404040"/>
                        </linearGradient>
                        <linearGradient id="id1" gradientUnits="userSpaceOnUse" x1="252.5" y1="430.3" x2="252.5" y2="459.7">
                        <stop offset="0" style="stop-color:#282828"/>
                        <stop offset="0.211765" style="stop-color:#404040"/>
                        <stop offset="1" style="stop-color:#202020"/>
                        </linearGradient>
                        <linearGradient id="id2" gradientUnits="userSpaceOnUse" x1="120" y1="110.501" x2="120" y2="69.499">
                        <stop offset="0" style="stop-color:#7D7D7D"/>
                        <stop offset="0.219608" style="stop-color:#D8D8D8"/>
                        <stop offset="0.541176" style="stop-color:#E5E5E5"/>
                        <stop offset="0.729412" style="stop-color:#F2F2F2"/>
                        <stop offset="0.839216" style="stop-color:#BEBEBE"/>
                        <stop offset="1" style="stop-color:#8A8A8A"/>
                        </linearGradient>
                        <linearGradient id="id3" gradientUnits="userSpaceOnUse" x1="252.5" y1="98.201" x2="252.5" y2="401.799">
                        <stop offset="0" style="stop-color:#B1B1B1"/>
                        <stop offset="0.501961" style="stop-color:#707070"/>
                        <stop offset="1" style="stop-color:#D8D8D8"/>
                        </linearGradient>
                        <linearGradient id="id4" gradientUnits="userSpaceOnUse" x1="221.289" y1="270.626" x2="332.911" y2="174.32">
                        <stop offset="0" style="stop-color:#008EED"/>
                        <stop offset="1" style="stop-color:#17A2FF"/>
                        </linearGradient>
                        <linearGradient id="id5" gradientUnits="userSpaceOnUse" x1="211.846" y1="276.166" x2="293.154" y2="203.835">
                        <stop offset="0" style="stop-color:#0078C8"/>
                        <stop offset="1" style="stop-color:#008EED"/>
                        </linearGradient>
                        <linearGradient id="id6" gradientUnits="userSpaceOnUse" x1="312.792" y1="192.781" x2="252.83" y2="224.525">
                        <stop offset="0" style="stop-color:#303030"/>
                        <stop offset="1" style="stop-color:#404040"/>
                        </linearGradient>
                        <radialGradient id="id7" gradientUnits="objectBoundingBox" cx="64.0019%" cy="39.9987%" r="29.9973%" fx="64.0019%" fy="39.9987%">
                        <stop offset="0" style="stop-color:#606060"/>
                        <stop offset="1" style="stop-color:#404040"/>
                        </radialGradient>
                        </defs>
                        <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"/>
                        <rect class="fil0" x="123" y="20" width="260" height="460" rx="30" ry="28"/>
                        <rect class="fil1 str0" x="128" y="25" width="250" height="450" rx="25" ry="23"/>
                        <path class="fil2" d="M188 25l165 0c13,0 25,11 25,25l0 342c-110,-86 -183,-218 -190,-367z"/>
                        <path class="fil3" d="M123 65l0 50c-3,0 -5,-2 -5,-5l0 -40c0,-3 2,-5 5,-5z"/>
                        <path class="fil4 str1" d="M142 430l70 0 0 30 -60 0c-5,0 -10,-4 -10,-10l0 -20zm221 0l-70 0 0 30 60 0c5,0 10,-4 10,-10l0 -20z"/>
                        <circle class="fil5 str0" cx="253" cy="445" r="20"/>
                        <circle class="fil6" cx="253" cy="445" r="10"/>
                        <circle class="fil7" cx="227" cy="40" r="5"/>
                        <circle class="fil7" cx="253" cy="40" r="5"/>
                        <circle class="fil7" cx="278" cy="40" r="5"/>
                        <circle class="fil8" cx="163" cy="45" r="7"/>
                        <path class="fil9" d="M188 441c3,1 7,3 7,7 0,1 -1,3 -2,3 -2,0 -4,-1 -6,-2 0,0 -1,-3 -1,-4 -1,0 -2,-2 -3,-2 -2,-1 -9,-1 -11,0 -1,0 -2,2 -3,2 0,1 -1,4 -1,4 -2,1 -4,2 -6,2 -1,0 -2,-2 -2,-3 0,-4 4,-6 7,-7 7,-2 14,-2 21,0z"/>
                        <path class="fil10" d="M338 441c3,1 7,3 7,7 0,1 -1,3 -2,3 -2,0 -4,-1 -6,-2 0,0 -1,-3 -1,-4 -1,0 -2,-2 -3,-2 -2,-1 -9,-1 -11,0 -1,0 -2,2 -3,2 0,1 -1,4 -1,4 -2,1 -4,2 -6,2 -1,0 -2,-2 -2,-3 0,-4 4,-6 7,-7 7,-2 14,-2 21,0zm-8 5l1 1c1,0 1,0 0,1l-1 1c-1,1 -1,1 0,1l1 2c1,0 1,0 0,0l-1 2c0,0 0,0 0,0l-2 -2c0,0 -1,0 -1,0l-2 2c0,0 0,0 0,0l-1 -2c-1,0 -1,0 0,0l1 -2c1,0 1,0 0,-1l-1 -1c-1,-1 -1,-1 0,-1l1 -1c0,0 0,0 0,0l2 2c0,0 1,0 1,0l2 -2c0,0 0,0 0,0z"/>
                        <rect class="fil11" x="142" y="65" width="220" height="350"/>
                        <path class="fil12" d="M192 65l171 0 0 315c-92,-78 -155,-189 -171,-315z"/>
                        </g>
                        </svg>
                </a>
            </li>
            <li>
                <a href="mailto:krupiej.rita@gmail.com" class="email">
                    <svg data-name="Layer 1" height="32" id="Layer_1" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16.58,19.1068l-12.69-8.0757A3,3,0,0,1,7.1109,5.97l9.31,5.9243L24.78,6.0428A3,3,0,0,1,28.22,10.9579Z" fill="#ea4435"/><path d="M25.5,5.5h4a0,0,0,0,1,0,0v18a3,3,0,0,1-3,3h0a3,3,0,0,1-3-3V7.5a2,2,0,0,1,2-2Z" fill="#00ac47" transform="translate(53.0001 32.0007) rotate(180)"/><path d="M29.4562,8.0656c-.0088-.06-.0081-.1213-.0206-.1812-.0192-.0918-.0549-.1766-.0823-.2652a2.9312,2.9312,0,0,0-.0958-.2993c-.02-.0475-.0508-.0892-.0735-.1354A2.9838,2.9838,0,0,0,28.9686,6.8c-.04-.0581-.09-.1076-.1342-.1626a3.0282,3.0282,0,0,0-.2455-.2849c-.0665-.0647-.1423-.1188-.2146-.1771a3.02,3.02,0,0,0-.24-.1857c-.0793-.0518-.1661-.0917-.25-.1359-.0884-.0461-.175-.0963-.267-.1331-.0889-.0358-.1837-.0586-.2766-.0859s-.1853-.06-.2807-.0777a3.0543,3.0543,0,0,0-.357-.036c-.0759-.0053-.1511-.0186-.2273-.018a2.9778,2.9778,0,0,0-.4219.0425c-.0563.0084-.113.0077-.1689.0193a33.211,33.211,0,0,0-.5645.178c-.0515.022-.0966.0547-.1465.0795A2.901,2.901,0,0,0,23.5,8.5v5.762l4.72-3.3043a2.8878,2.8878,0,0,0,1.2359-2.8923Z" fill="#ffba00"/><path d="M5.5,5.5h0a3,3,0,0,1,3,3v18a0,0,0,0,1,0,0h-4a2,2,0,0,1-2-2V8.5a3,3,0,0,1,3-3Z" fill="#4285f4"/><path d="M2.5439,8.0656c.0088-.06.0081-.1213.0206-.1812.0192-.0918.0549-.1766.0823-.2652A2.9312,2.9312,0,0,1,2.7426,7.32c.02-.0475.0508-.0892.0736-.1354A2.9719,2.9719,0,0,1,3.0316,6.8c.04-.0581.09-.1076.1342-.1626a3.0272,3.0272,0,0,1,.2454-.2849c.0665-.0647.1423-.1188.2147-.1771a3.0005,3.0005,0,0,1,.24-.1857c.0793-.0518.1661-.0917.25-.1359A2.9747,2.9747,0,0,1,4.3829,5.72c.089-.0358.1838-.0586.2766-.0859s.1853-.06.2807-.0777a3.0565,3.0565,0,0,1,.357-.036c.076-.0053.1511-.0186.2273-.018a2.9763,2.9763,0,0,1,.4219.0425c.0563.0084.113.0077.169.0193a2.9056,2.9056,0,0,1,.286.0888,2.9157,2.9157,0,0,1,.2785.0892c.0514.022.0965.0547.1465.0795a2.9745,2.9745,0,0,1,.3742.21A2.9943,2.9943,0,0,1,8.5,8.5v5.762L3.78,10.9579A2.8891,2.8891,0,0,1,2.5439,8.0656Z" fill="#c52528"/></svg>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/krpjrita/" class="linkedin">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="64" height="64"><path d="M29.63.001H2.362C1.06.001 0 1.034 0 2.306V29.69C0 30.965 1.06 32 2.362 32h27.27C30.937 32 32 30.965 32 29.69V2.306C32 1.034 30.937.001 29.63.001z" fill="#0177b5"/><path d="M4.745 11.997H9.5v15.27H4.745zm2.374-7.6c1.517 0 2.75 1.233 2.75 2.75S8.636 9.9 7.12 9.9a2.76 2.76 0 0 1-2.754-2.753 2.75 2.75 0 0 1 2.753-2.75m5.35 7.6h4.552v2.087h.063c.634-1.2 2.182-2.466 4.5-2.466 4.806 0 5.693 3.163 5.693 7.274v8.376h-4.743V19.84c0-1.77-.032-4.05-2.466-4.05-2.47 0-2.85 1.93-2.85 3.92v7.554h-4.742v-15.27z" fill="#fff"/></svg>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/krpjrita/" class="instagram">
                    <svg viewBox="0 0 64 64" width="100%" height="64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><style>.cls-1{fill:url(#radial-gradient);}.cls-2{fill:#fff;}</style><radialGradient cx="-578.95" cy="-837.6" gradientTransform="translate(499.5 629.5) scale(0.75)" gradientUnits="userSpaceOnUse" id="radial-gradient" r="197.06"><stop offset="0" stop-color="#f9ed32"/><stop offset="0.36" stop-color="#ee2a7b"/><stop offset="0.44" stop-color="#d22a8a"/><stop offset="0.6" stop-color="#8b2ab2"/><stop offset="0.83" stop-color="#1b2af0"/><stop offset="0.88" stop-color="#002aff"/></radialGradient></defs><title/><g data-name="3-instagram" id="_3-instagram"><rect class="cls-1" height="64" rx="11.2" ry="11.2" transform="translate(64 64) rotate(180)" width="64"/><path class="cls-2" d="M44,56H20A12,12,0,0,1,8,44V20A12,12,0,0,1,20,8H44A12,12,0,0,1,56,20V44A12,12,0,0,1,44,56ZM20,12.8A7.21,7.21,0,0,0,12.8,20V44A7.21,7.21,0,0,0,20,51.2H44A7.21,7.21,0,0,0,51.2,44V20A7.21,7.21,0,0,0,44,12.8Z"/><path class="cls-2" d="M32,45.6A13.6,13.6,0,1,1,45.6,32,13.61,13.61,0,0,1,32,45.6Zm0-22.4A8.8,8.8,0,1,0,40.8,32,8.81,8.81,0,0,0,32,23.2Z"/><circle class="cls-2" cx="45.6" cy="19.2" r="2.4"/></g></svg>
                </a>
            </li>
            <li>
                <a href="https://uk.pinterest.com/cosyradiance/" class="pinterest">
                    <svg viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
                        <title>Pinterest-color</title>
                        <desc>Created with Sketch.</desc>

                        <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Color-" transform="translate(-300.000000, -260.000000)" fill="#CC2127">
                                <path d="M324.001411,260 C310.747575,260 300,270.744752 300,284.001411 C300,293.826072 305.910037,302.270594 314.368672,305.982007 C314.300935,304.308344 314.357382,302.293173 314.78356,300.469924 C315.246428,298.522491 317.871229,287.393897 317.871229,287.393897 C317.871229,287.393897 317.106368,285.861351 317.106368,283.59499 C317.106368,280.038808 319.169518,277.38296 321.73505,277.38296 C323.91674,277.38296 324.972306,279.022755 324.972306,280.987123 C324.972306,283.180102 323.572411,286.462515 322.852708,289.502205 C322.251543,292.050803 324.128418,294.125243 326.640325,294.125243 C331.187158,294.125243 334.249427,288.285765 334.249427,281.36532 C334.249427,276.10725 330.707356,272.170048 324.263891,272.170048 C316.985006,272.170048 312.449462,277.59746 312.449462,283.659905 C312.449462,285.754101 313.064738,287.227377 314.029988,288.367613 C314.475922,288.895396 314.535191,289.104251 314.374316,289.708238 C314.261422,290.145705 313.996119,291.21256 313.886047,291.633092 C313.725172,292.239901 313.23408,292.460046 312.686541,292.234256 C309.330746,290.865408 307.769977,287.193509 307.769977,283.064385 C307.769977,276.248368 313.519139,268.069148 324.921503,268.069148 C334.085729,268.069148 340.117128,274.704533 340.117128,281.819721 C340.117128,291.235138 334.884459,298.268478 327.165285,298.268478 C324.577174,298.268478 322.138649,296.868584 321.303228,295.279591 C321.303228,295.279591 319.908979,300.808608 319.615452,301.875463 C319.107426,303.724114 318.111131,305.575587 317.199506,307.014994 C319.358617,307.652849 321.63909,308 324.001411,308 C337.255248,308 348,297.255248 348,284.001411 C348,270.744752 337.255248,260 324.001411,260" id="Pinterest"></path>
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://cosyradiance.tumblr.com/" class="tumblr">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                        viewBox="-143 145 512 512" xml:space="preserve">
                    <path d="M113,145c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S254.4,145,113,145z M185.2,515H185
                        c-11,5.1-20.8,8.8-29.7,10.8c-8.9,2.1-18.5,3.1-28.8,3.1c-11.7,0-22.1-1.5-31-4.4c-9-3-16.7-7.2-23-12.6
                        c-6.4-5.5-10.8-11.3-13.2-17.5c-2.5-6.2-3.7-15.1-3.7-26.8v-89.8H27.3v-36.2c10.1-3.3,18.7-8,25.9-14.1c7.2-6.1,12.9-13.4,17.3-22
                        c4.3-8.5,7.3-19.4,9-32.6h36.4v64.7h60.7v40.2h-60.7v65.6c0,14.9,0.8,24.4,2.4,28.6c1.6,4.2,4.5,7.6,8.8,10.1
                        c5.6,3.4,12.1,5.1,19.4,5.1c13,0,25.8-4.2,38.7-12.6V515z"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

</div>