<div class="posts">

    <ul class="post-list">
                                
            <li>
                <a href="#">
                    <span class="post-title"> Post Title </span>
                    <span class="post-date"> Date </span>
                </a>
            </li>

    </ul>

        <a href="#" class="pagination"> &lt; View Older Posts </a>

</div>