<div class="posts">

    <ul class="post-list">
        <% data.forEach(post => { %>
                                
            <li>
                <a href="/post/<%= post._id %>">
                    <span class="post-title"><%= post.title %></span>
                    <span class="post-date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>

        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>

</div>