/* Variables */

:root {
    --black: #1c1c1c;
    --gray: #cdc9c9;
    --light-gray: #f3f2f2;
    --light-red: #f38989;
    --light-blue: #a1c6d2;
    --post-title-blue: #89bac9;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius: 10px;
}

/* End of Variables */


/* Common Styles */

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Abhaya Libre", system-ui;
    color: var(--black);
    font-size: var(--font-size-base);
    overflow-x: hidden;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family: "Abhaya Libre", system-ui;
    font-size: var(--font-size-md);
    color: var(--post-title-blue);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

/* Firefox */
::placeholder {
    color: var(--post-title-blue);
    opacity: 1;
  }
  
  /* Edge 12 -18 */
  ::-ms-input-placeholder {
    color: var(--post-title-blue);
  }

img {
    width: 100%;
    height: auto;
}

/* End of Common Styles */


/* Header */

.header-top:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url(../images/header-bckgrd.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 85%;
    opacity: 0.5;
}

.header-top {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 35rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.header-icons {
    position: relative;
    z-index: 2;
    grid-column: 3 / 4;
    grid-row: 1;
    justify-self: end;
    align-self: start;
    margin: 3rem 3rem 0 0;
}

.header-icons button {
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 0 3rem 0 0;
    background: none;
    border-radius: var(--border-radius);
}

.header-icons:hover {
    fill: var(--light-blue);
}

.header-title {
    position: relative;
    z-index: 2;
    grid-column: 2 / 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Federo", system-ui;
    font-size: 6.5rem;
    color: var(--black);
}

/* Notebook Red Line */

.header-nav:before {
    content: "";
    position: absolute;
    border-left: 0.2rem solid var(--light-red);
    width: 100%;
    height: 130%;
    margin-left: 15rem;
    z-index: -1;
}

/* End of Notebook Red Line */

.header-nav {
    grid-area: nav;
    grid-column: 2 / 3;
    grid-row: 3;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header-nav li {
    display: inline-flex;
    margin: 4rem;
}

.header-nav ul a:hover {
    fill: var(--light-blue);
}

.header-nav ul a.active {
    fill: var(--light-blue);
}

.title {
    font-size: 5rem;
    margin: 0 95rem 0 3rem;
}

svg {
    width: 25px;
    height: 25px;
}

/* SearchBar */

.searchBar {
    visibility: hidden;
    transform: translateY(-100px);
    background-color: var(--black);
    padding: 4px 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
}

.searchBar.open {
    transform: translateY(0);
    transition: transform 0.1s;
}

.searchBar input {
    margin: 0;
    padding: 0;
}

#searchClose {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--light-gray);
    padding: 15px;
}

/* End of SearchBar */

/* End of Header */


/* Posts */

.posts {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 7rem 0 0 0;
    padding-bottom: 4rem;
}

.post-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0! important;
    border-top: 1px solid var(--light-blue);
    font-size: var(--font-size-lg);
}

.post-date {
    font-size: var(--font-size-lg);
    color: var(--post-title-blue);
}

.post-list li a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--light-blue);
    text-indent: 25px;
    height: auto;
    padding: 10px;
}

.post-list li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}

.post-list li:hover {
    filter: none;
}

.post-list:hover li {
    filter: opacity(0.6);
}

.post-list:hover li:hover {
    filter: none;
}

.post-title, .post-date {
    font-family: "Abhaya Libre", system-ui;
}

.pagination {
    font-size: 2rem;
    color: var(--black);
    margin-top: 3rem;
    display: inline-block;
}

.pagination:hover {
    color: var(--post-title-blue);
}

.post {
    white-space: pre-wrap;
}

/* End of Posts */


/* Footer */

.footer {
    padding: 2rem;
    background-color: var(--light-gray);
    font-family: "Federo", system-ui;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

/* End of Footer */


/* ADMIN */

/* Header */

.header-admin-title {
    position: relative;
    z-index: 2;
    grid-column: 2 / 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Federo", system-ui;
    font-size: 6.5rem;
    margin-bottom: 1rem;
    color: var(--black);
}

.header-admin-message {
    position: relative;
    z-index: 2;
    grid-column: 2 / 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Abhaya Libre", system-ui;
    font-size: 2rem;
    padding-bottom: .5rem;
    color: var(--black);
}

/* End of Header */

/* Login */

.login {
    display: flex;
    flex-direction: column;
    margin: 7rem 0 0 0;
    padding-bottom: 4rem;
}

.login-title,
.register-title {
    display: flex;
    width: 100%;
    padding: 1rem 0 1rem 10rem;
    border-top: 1px solid var(--light-blue);
    border-bottom: 1px solid var(--light-blue);
    font-size: var(--font-size-xl);
    color: var(--black);
}

.login-box-title {
    display: flex;
    width: 100%;
    padding: 1.5rem 0 1.5rem 15rem;
    font-size: var(--font-size-lg);
    color: var(--post-title-blue);
}

.login-box-title.top {
    border-top: 1px solid var(--light-blue);
    margin-top: 2rem;
}

.login-box-title.bottom {
    border-bottom: 1px solid var(--light-blue);
    margin-bottom: 2rem;
}

.login-box {
    height: 5rem;
    max-width: 50%;
    margin-left: 15rem;
    border: 1px solid var(--light-blue);
    color: var(--post-title-blue);   
}

.btn {
    padding: 2rem;
    border: none;
    background: none;
    color: var(--post-title-blue);
    font-size: var(--font-size-lg);
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
    transition: .3s;
}

.btn:hover {
    opacity: 1;
    color: var(--light-red);
}

.btn.login-btn {
    margin: 0 0 1rem 83rem;
}

.btn.register-btn {
    margin: 0 0 1rem 80rem;
}

.btn-box {
    border-top: 1px solid var(--light-blue);
    margin-top: 2rem;
}

.btn-box.register {
    border-bottom: 1px solid var(--light-blue);
}

/* End of Login */

/* Dashboard Admin */

.admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .admin-posts {
    padding: 0;
    margin: 0;
  }
  
  .admin-post-controls form {
    display: inline-block;
  }
  
  .admin-post-controls .btn  {
    display: inline-block;
    background-color: var(--black);
    color: var(--gray-light);
    border: 0;
    text-decoration: none;
    font-size: .8rem;
    padding: 4px 8px;
    line-height: 2;
  }
  
  .admin-posts li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

/* End of Dashboard Admin */

/* End of ADMIN */